:root {
    --mainColor: #a2d2ff;
    --secondaryColor: #bde0fe;
    --borderColor: #370617;
    --mainText: black;
    --secondaryText: #03045e;
  
    --themeDotBorder: #cdb4db;
    --previewBg: #bde0fe;
    --previewShadow:#8ec8fc;
  
    --buttonColor:black;
  }
  