:root {
    --mainColor: #495057;
    --secondaryColor: #6c757d;
    --borderColor: #f8f9fa;
    --mainText: black;
    --secondaryText: #212529;
  
    --themeDotBorder: #24292e;
    --previewBg: #6c757d;
    --previewShadow:#7e8f9e;
  
    --buttonColor:black;
  }
  