:root {
    --mainColor: #152028;
    --secondaryColor: #192734;
    --borderColor: #164d56;
    --mainText: #fff;
    --secondaryText: #eeeeee;
  
    --themeDotBorder: white;
    --previewBg: rgb(25, 39,53,0.8);
    --previewShadow:#111921;
  
    --buttonColor:#17a2b8;
  }
